<p>homepage works!</p>
<div>
  <div class="container">
    <div class="row  text-green text-center" >
      <div class="col-3">
        <a routerLink="/student" routerLinkActive="active">Student</a>
      </div>
      <div class="col-3">
        <a routerLink="/employee" routerLinkActive="active">Course</a>
      </div>
      <div class="col-3">
        <a routerLink="/studentList" routerLinkActive="active">Employee</a>
      </div>
      <div class="col-3">
        <a routerLink="/course" routerLinkActive="active">studentDetails</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
