<!-- <div class="container">
  <div class="card">
    <div class="card-header bg-primary text-white text-center">
      <h3>Course Registration Page</h3>
    </div> -->
    <!-- course registration end
    <div class="card-body">
      <form>
        <div class="row">
          <label for="name" class="col-2">Candidate Name:</label>
          <input
            type="text"
            class="col-6 form-control"
            id="name"
            [(ngModel)]="model.name"
            name="name"
            placeholder="Enter Name"
          />
        </div>
        <div class="row">
          <label for="course" class="col-2">Course Name:</label>
          <input
            type="text"
            class="col-6 form-control"
            id="course"
            [(ngModel)]="model.name"
            name="course"
            placeholder="Enter course"
          />
        </div>

        <div class="row">
          <label for="chop" class="col-2">Chooose the Subject</label>
          <select id="chop" name="chop" class="form-control col-6" [(ngModel)]="model.name">
            <option>Maths</option>
            <option>Physics</option>
            <option>Science</option>
          </select>
        </div>

        <div class="row">
          <label for="Subject" class="col-2">Subject</label>
          <input
            type="text"
            class="col-6 form-control"
            id="Subject"
            name="Subject"
            [(ngModel)]="model.name"
            placeholder="Enter subject"
          />
        </div>
        <div class="row">
          <label for="email" class="col-2">Email address</label>
          <input
            type="email"
            class="col-6 form-control"
            id="email"
            name="email"
            [(ngModel)]="model.name"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
          <small id="emailHelp" class="col-4 form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="row">
          <label for="password" class="col-2">Password</label>
          <input
            type="password"
            class="col-6 form-control"
            [(ngModel)]="model.name"
            name="password"
            id="password"
            placeholder="Password"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="card-footer bg-primary text-white text-center"></div>
  </div> -->
<!-- </div> -->
